<!DOCTYPE html>
<html>
<head>
    <title>Current Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container weather-box">
    <h2>{{ config.city }} Weather</h2>

    <p><strong>{{ data.weather[0].description.title() }}</strong></p>
    <p>🌡 Temp: {{ data.main.temp }} °F</p>
    <p>Feels Like: {{ data.main.feels_like }} °F</p>
    <p>Humidity: {{ data.main.humidity }}%</p>
    <p>Wind: {{ data.wind.speed }} mph</p>

    <a href="/">Back</a>
</div>

</body>
</html>